In [15]:
import pandas as pd

Data_set = pd.read_csv('C://Users//Network Computer//Desktop//DATA Enginnering//Google Colab Dataset//adult.data', header=None, names=(['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']))

Data_set.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# 1) How many people of each race are represented in this dataset?

print(f"This is your: {Data_set['race'].value_counts()}")

This is your:  White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [5]:
# 2) What is the average age of men?

Men = Data_set[Data_set['sex'] == ' Male']

Avg_age = Data_set['age'].mean()
print(f"This is the average age of Men : {Avg_age}")

This is the average age of Men : 38.58164675532078

In [6]:
# 3) What is the percentage of people who have a Bachelor's degree?

total_b = Data_set['education'].count()
percentage = Data_set['education'].value_counts()[' Bachelors']

fresult = (percentage / total_b) * 100
print(f"This is the percentage of Bachelor's  : {fresult}")

This is the percentage of Bachelor's  : 16.44605509658794

In [7]:
# 4) What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

advanced_edu = Data_set[Data_set['education'].isin(['Bachelors', 'Masters', ' Doctorate'])]

more_income = advanced_edu[advanced_edu['income'] == ' >50K']

per = (len(more_income) / len(advanced_edu)) * 100
print(per)

74.09200968523002

In [8]:
# 5) What percentage of people without advanced education make more than 50K?

without_advanced_edu = Data_set[~Data_set['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

more_incomes = without_advanced_edu[without_advanced_edu['income'] == ' >50K']

perc = (len(more_incomes) / len(without_advanced_edu)) * 100
print(f"{perc}%")

24.080955744602438%

In [ ]:
# 6) What is the minimum number of hours a person works per week?


Min_work_hrs = Data_set['hours-per-week'].min()
print(Min_work_hrs)

In [11]:
# 7) What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

Min_hrs_per_week = Data_set['hours-per-week'].min()
min_hrs_workers = Data_set[Data_set['hours-per-week'] == Min_hrs_per_week]

total_hrs_per_week = len(min_hrs_workers)

high_earners = min_hrs_workers[min_hrs_workers['income'] == ' >50K']

num_high_earners_min_hrs = len(high_earners)

percentage_high_earners = (num_high_earners_min_hrs  / total_hrs_per_week) * 100
print(f'This is the percentage of people who work minimum number of hrs and have salary of more than 50K : {percentage_high_earners}%')

This is the percentage of people who work minimum number of hrs and have salary of more than 50K : 10.0%

In [12]:
# 8) What country has the highest percentage of people that earn >50K and what is that percentage?

Data_set['income'] = Data_set['income'].str.strip()

Highest_earning_country = Data_set[Data_set['income'] == '>50K']['native-country'].value_counts()

total_countries = Data_set['native-country'].value_counts()

percentage_country = (Highest_earning_country / total_countries) * 100

highest_percentage_country = percentage_country.idxmax()
highest_percentage_value = percentage_country.max()

print(highest_percentage_country)
print(highest_percentage_value)

 Iran
41.86046511627907

In [16]:
# 9) Identify the most popular occupation for those who earn >50K in India?


indian_occupation = Data_set[Data_set['native-country'] == ' India']

popular_occupation = indian_occupation[indian_occupation['income'] == ' >50K']['occupation'].value_counts().idxmax()

print(popular_occupation)

 Prof-specialty